* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar > div {
  display: flex;
  align-items: center;
}

.navbar img {
  margin-right: 10px;
  width: 50px;
}

.navbar span {
  font-size: 18px;
  font-weight: bold;
}

.chart-logo {
  width: 40px;
  margin: 2px;
}

.main-layout {
  min-height: 100vh;
}

.chart-wrapper {
  height: 40%;
  max-width: 80%;
}
